<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">    
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Your Review</title>
    </head>
    <body>
        <form action="/" method="POST">
            {% csrf_token %}
            {% if has_error %}
                <p>This form is invalid - pleae enter valid username.</p>
            {% endif %}

            <label for="name">Your name</label>
            <input id="name" name="name" type="text">
            <button type="submit">Send</button>  
        </form>
    </body>
</html>